body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/04/25/74/29/360_F_425742955_QH2nJTiyl7N0YWzbCjQoH6fEGyNaiFrz.jpg);
    background-size: cover;
}

#board {
    height: 540px;
    width: 600px;
    background-color: rgb(248, 252, 5);
    border: 10px solid rgb(7, 7, 7);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
}

.tile:hover {
    background-color: red;
}

.purple-piece {
    background-color: rgb(148, 5, 231);
}

.green-piece {
    background-color: rgb(27, 250, 7);
}

p {
    color: rgb(249, 253, 1);
    text-align: unset;
    text-transform: uppercase;

}

input[type='reset'] {
    font-size: larger;
    font-style: italic;
    font-family: fantasy;
    background-color: crimson
}